@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

/* background welcome */ 
.welcome-body {
    background-image: url("./assets/img/tim-wildsmith-6SKUISCKrxc-unsplash.jpg");background-repeat: no-repeat;
    background-size: cover;
}
/* background bedankt */ 
.bedankt-body {
    background-image: url("./assets/img/clark-van-der-beken-mcCAFvlzZFQ-unsplash.jpg");background-repeat: no-repeat;
    background-size: cover;
    height: 768px;
}

/*heading */
.heading-container {
    background-image: linear-gradient(lightgrey, white);
    border-radius: 15px;
    border: 1px solid grey;
    text-align: center;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.heading-text {
    font-size: 3em;
    padding-bottom: 20px;
}

.sub-text {
    font-size: 1em;
}

.welcome-button {
    padding: 20px;
}

.heading-text-container {
    margin-top: 20%;
}

.input-container {
    margin: auto;
    width: 50%;
    flex-direction: column;
    display: flex;
    background-color: pink;
}

.code-input {
    padding: 10px;
}

.img {
    width: 200px;
    height: 200px;

}

/* partijselectie pagina */
.Partijknop {
    max-height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: black 1px solid;
}

.Partijlogo {
    max-width: 170px;
    max-height: 170px;
}

.Partijvak {
    width: 50%;
    display: flex;
    margin-top: 10px;
}

.Partijoprij {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Partijoprij p{
    max-width: 200px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.persoonselect{
    margin-left: 1em;
}

.terugknop{
    position:absolute;
    max-height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: black 1px solid;
    margin: 1em;
}

.verstuurknop{
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    margin:1em;
}